---
import { getEntryBySlug } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Test from '../components/Test';

const oneBlogPost = await getEntryBySlug('blog', 'test');
console.log(oneBlogPost)
---

<Layout title="Welcome to Astro.">
	<div class="container">
    <h1>{oneBlogPost.data.title}</h1>
    <Test client:load />
    <Test client:load />
  </div>
</Layout>
