---
import { getEntryBySlug } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ShowMessage from '../components/ShowMessage';
import EditMessage from '../components/EditMessage';

const oneBlogPost = await getEntryBySlug('blog', 'test');
---

<Layout title="Welcome to Astro.">
	<div class="container py-24">
    <EditMessage client:visible />
    <ShowMessage client:visible />
  </div>
</Layout>
